.actionButton {
    font-style: normal;
    border: none;
    color: teal;
    background-color: white;
    transition: 0.5s;
}

@media(max-width:767px) {
    .actionButton {
        padding: 8px;
    }
}

@media(max-width:767px) {
    .actionButtons {
        display: grid;
        grid-template-columns: auto;
    }
}

.actionButton:hover {

    color: rgba(0, 128, 128, 0.5);
    transition: 0.5s;
}

.actionButton:disabled {
    color: rgba(0, 128, 128, 0.2);
}