.list {
    margin: 0;
    padding: 0;
}
.list__newTask {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 8px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.list__newTask--hidden {
    display: none;
}

.list__buttons {
    color: white;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
}

.list__buttons--remove {
    background-color: red;
    transition: 0.5s;
}

.list__buttons--remove:hover {
    background-color: rgba(255, 0, 0, 0.781);
}

.list__buttons--done {
    background-color: green;
    transition: 0.5s;
}

.list__buttons--done:hover {
    background-color: rgba(0, 128, 0, 0.781);
}

.list__content--done {
    text-decoration-line: line-through;
}